extends partials/layout

block content
  style(type='text/css').
    body table tr td {
        font-family: Louis, Arial, Helvetica, sans-serif;
    }
    .chevrolet_louis {
        font-family: Louis;
    }

  table(width='609' border='0')
    tr
      td(colspan='4')
        img(src='https://storage.googleapis.com/gm_static_files/gminfoleads_img/emails/generico_a.png' width='603' height='373')
    tr
      td(colspan='4') &nbsp;
    tr
      td(width='14') &nbsp;
      td(width='310')
        span(style='line-height: 36px; color:#807f7f; font-size:36px; font-family:Louis, Arial, Helvetica, sans-serif ;')  HOLA #{name}
      td(width='271' colspan='2' rowspan='2')
        img(src='https://storage.googleapis.com/gm_static_files/gminfoleads_img/emails/generico_b.png' width='227' height='134' align='right')
    tr
      td(height='82') &nbsp;
      td
        p.chevrolet_louis(style='line-height: 16px; color: #807f7f; font-size: 16px; font-family: Louis, Arial, Helvetica, sans-serif;')
          | Gracias por tu inter&eacute;s en nuestros modelos Chevrolet.
          br
          | Pronto un asesor comercial se comunicar&aacute; contigo para compartirte informaci&oacute;n de:
    tr
      td(colspan='4')
        a(href='http://www.chevrolet.com.ec')
          img(src='https://storage.googleapis.com/gm_static_files/gminfoleads_img/emails/caracteristicas.png' width='603' height='91')
    tr
      td(colspan='4')
        img(src='https://storage.googleapis.com/gm_static_files/gminfoleads_img/emails/llamanos.png' width='603' height='49')
    tr
      td(colspan='4') &nbsp;
    tr
      td(colspan='4')
        span(style='font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left;line-height: 24px; font-weight:bold;')
          | S&iacute;guenos en: 
          a(href='https://www.facebook.com/ChevroletEcuador' target='_blank')
            img(src='http://101gradoscom.fatcow.com/gm/feriado24demayo2016/fb.jpg' height='16' width='16' alt='Facebook Chevrolet' title='Facebook Chevrolet')
          a(href='https://www.youtube.com/user/ChevroletEcuador' target='_blank')
            img(src='http://101gradoscom.fatcow.com/gm/feriado24demayo2016/yt.jpg' height='16' width='16' alt='Youtube Chevrolet' title='Youtube Chevrolet')
          a(href='https://twitter.com/ChevroletEc' target='_blank')
            img(src='http://101gradoscom.fatcow.com/gm/feriado24demayo2016/tw.jpg' height='16' width='16' alt='Twitter Chevrolet' title='Twitter Chevrolet')
          a(href='https://plus.google.com/+chevroletecuador/posts' target='_blank')
            img(src='http://101gradoscom.fatcow.com/gm/feriado24demayo2016/go.jpg' height='16' width='16' alt='Google+ Chevrolet' title='Google+ Chevrolet')
          a(href='https://instagram.com/chevroletecuador' target='_blank')
            img(src='http://101gradoscom.fatcow.com/gm/feriado24demayo2016/in.jpg' height='16' width='16' alt='Instagram Chevrolet' title='Instagram Chevrolet')
    tr
      td(colspan='4')
        img(src='https://storage.googleapis.com/gm_static_files/gminfoleads_img/emails/find.png' width='162' height='21' alt='find')
  table(width='609' border='0')
    tr
      td.aspectos_legales(width='140' height='32')
        p(align='center')
          a(style='color:#d59b01;text-decoration:none' href='http://101gradoscom.fatcow.com/gm/feriado24demayo2016/C_Términos y condiciones ChevyStar 24 de mayo.pdf' target='_blank')
            font(style='font-size:10px;color:#2e2d42;text-align:left; font-family: Arial, Helvetica, sans-serif;')
              strong Aspectos Legales
      td(width='178')
        div(align='center')
          a(style='color:#d59b01;text-decoration:none' href='http://101gradoscom.fatcow.com/gm/feriado24demayo2016/C_Términos y condiciones ChevyStar 24 de mayo.pdf' target='_blank')
            font(style='font-size:9px;color:#2e2d42;text-align:left; font-family: Arial, Helvetica, sans-serif;')
              strong Pol&iacute;ticas y Privacidad
      td(width='277')
        div(align='center')
          font(style='font-size:10px;color:#2e2d42;text-align:left; font-family: Arial, Helvetica, sans-serif;')
            strong Call center 1800CHEVROLET (243-876)
    tr
      td(height='72' colspan='3')
        p
          span(style='line-height: 12px; color:#5c5d60; font-size:10px; font-family: Arial, Helvetica, sans-serif;')
            | Aplican condiciones y restricciones. promoci&oacute;n y ofertas sujetas a cambios sin previo aviso. La informaci&oacute;n de la ficha t&eacute;cnica, colores, modelos, versiones, im&aacute;genes, precios, descuentos, otras especificaciones y dem&aacute;s son meramente referenciales e ilustrativas y pueden no coincidir con los productos exhibidos y ofrecidos en los Concesionarios autorizados Chevrolet. Parte de esta informaci&oacute;n puede ya haber sido actualizada debido a la variedad y opciones de promoci&oacute;n y ofertas sujetas a cambios sin previo aviso de Chevrolet, por lo que sugerimos confirmarla con los distribuidores oficiales de la marca Chevrolet. Las im&aacute;genes no representan a cabalidad el detalle visual y t&eacute;cnico de la versi&oacute;n presentada en esta comunicaci&oacute;n. Para verificar los atributos y especificaciones t&eacute;cnicas del modelo comun&iacute;quese a cualquiera de nuestros puntos de venta.
            br
            | El precio expuesto es sugerido y puede variar seg&uacute;n condiciones de mercado, especificaciones, versiones, componentes, equipos opcionales, financiamiento, etc. Adem&aacute;s de ser referenciales pueden contener errores de digitaci&oacute;n o de sistemas. Consulte con su asesor por los precios vigentes al momento de efectuar su compra. Para mayor informaci&oacute;n y detalles ac&eacute;rquese al Concesionario Autorizado Chevolet de su preferencia.
            br
            | * Los logos de las distintas marcas usadas pertenecen exclusivamente a los propietarios de las redes sociales correspondientes.
